<form>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control nameInputValue"
        placeholder="Nome"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  
    <div class="input-group mb-3">
      <input
        type="email"
        class="form-control emailInputValue"
        placeholder="Email"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  
    <div class="input-group mb-3">
      <input
        type="number"
        class="form-control ageInputValue"
        placeholder="Idade"
        aria-label="Age"
        aria-describedby="basic-addon1"
      />
    </div>
  
    <div class="d-grid gap-2">
      <button
        class="btn btn-primary btn-register btn-block"
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
        onclick="handleFormRegister(); return false"
      >
        CONTINUAR CADASTRO
      </button>
    </div>
  </form>

  <app-dialog-continuation-registration></app-dialog-continuation-registration>