<form>
    <div class="input-group mb-3">
      <input
        type="email"
        class="form-control email"
        placeholder="E-mail"
        aria-label="email"
        aria-describedby="email"
      />
    </div>
  
    <div class="input-group mb-3">
      <input
        type="password"
        class="form-control password"
        placeholder="Senha"
        aria-label="password"
        aria-describedby="password"
      />
    </div>
  
    <div class="d-grid gap-2">
      <button
        class="btn btn-primary btn-login btn-block" onclick="onNavigate('/dashboard')">
        ENTRAR
      </button>
    </div>
  
    <p class="text-custom">
      Se você ainda não tiver os dados de login, será necessário realizar um
      cadastro.
    </p>
  </form>
  
  <!-- INSERIR COMPONENTE DIALOG-USER-NOT-FOUND -->