.card {
  width: 100%;
  padding: 4%;
}

.btn-default {
  width: 200px;
  display: block;
  position: absolute;
  right: 10px;
  top: 40px;
}

.center,
.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-pagination {
  position: absolute;
  right: 10px;
  top: 80%;
}

.actions li {
  list-style: none;
  position: relative;
  left: -44px;
}
.image {
  float: left;
  width: 12%;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: transparent;
}

ul.pagination {
  position: relative;
  top: 30px;
}

button.page-link {
  margin-left: 10px;
}


.btn:disabled:hover {
  color: #343a40 !important;
  text-decoration: none;
}

