<!-- INSERIR APP-MENU AQUI -->

<div class="main">
    <div class="container">
      <div class="row mt-5">
        <div class="col-4">
          <!-- INSERIR APP-REVENUES-CARD AQUI -->
        </div>
        <div class="col-4">
          <!-- APP-DEBTS-CARD AQUI -->
        </div>
        <div class="col-4">
          <!-- INSERIR APP-BALANCE-TOTAL-CARD AQUI -->
        </div>
      </div>
    </div>
    <app-revenues></app-revenues>
    <!-- INSERIR APP-DEBTS -->
  </div>
  
  <!-- INSERIR APP-FOOTER AQUI -->